{% extends "admin/index.html" %}

{% block extrastyle %}
    {{ block.super }}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{%  static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{%  static 'css/bootstrap-datepicker.css' %}" />
    <link rel="stylesheet" type="text/css" href="{%  static 'css/bootstrap-datetimepicker.css' %}" />
    <link rel="stylesheet" type="text/css" href="{%  static 'css/custom.css' %}" />
{% endblock %}
{% block bootstrap_admin_js %}{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/transition.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/collapse.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
    <script type="text/javascript">
        $('#id_data_inicio').datetimepicker({
            locale: 'pt-BR',
            format: 'DD/MM/YYYY',
            showClose: true
        });
        $('#id_data_fim').datetimepicker({
            locale: 'pt-BR',
            format: 'DD/MM/YYYY',
            showClose: true
        });

        function post_form() {
            $('#report_form').submit();
        }
    </script>

{% endblock %}
{% block breadcrumbs %}
        <ol class="breadcrumb">
          <li class="home">
            <a href="{% url 'admin:index' %}" title="Início"><span class="glyphicon glyphicon-home"></span></a>
          </li>
          <li class="active">Relatório</li>
        </ol>
      {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <form id="report_form" action="/relatorio" method="POST" class="form-inline">
                {% csrf_token %}
                {% for field in report_form %}
                    <div class="form-group">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}
                <button type="button" class="btn btn-success" onclick="post_form()"> Consultar </button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 receber-container alert alert-info custom-info">
            {% if valor_receber %}
                <span class="big-text"> A Receber: </span> <span class="extra-text" id="valor_receber"> R${{ valor_receber }} </span>
            {% endif %}
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 total-container">
            {% if valor_atendimentos %}
                <span class="medium-text"> Total Arrecadado: </span> <span class="big-text" id="valor_total"> R${{ valor_atendimentos }} </span>
            {% endif %}
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 real-container">
            {% if valor_real %}
                <span class="medium-text"> Total Real: </span> <span class="big-text" id="valor_descontado"> R${{ valor_real }} </span>
            {% endif %}
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 despesas-container">
            {% if valor_despesas %}
                <span class="medium-text"> Total Despesas: </span> <span class="big-text" id="valor_despesas"> R${{ valor_despesas }} </span>
            {% endif %}
        </div>
        <div class="col-md-4"></div>
    </div>

{% endblock %}